fastapi
uvicorn
firebase-admin
google-cloud-firestore
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint
langsmith
langchain-community
tavily
arq
httpx
beautifulsoup4
pydantic
pydantic-settings
python-dotenv
python-multipart
PyYAML
tenacity
numpy
twillo
